.movie {
    display: flex;
    padding-top: 3rem;
    &:last-child {
        padding-bottom: 1rem;
    }
    img {
        width: 161px;
        height: 238px;
    }
    .movie-info p {
        width: 90%;
        margin: 0 auto;
        padding-right: 0.3rem;
    }
}
