.summary {
    text-align: center;
    img {
        border: 5px solid #cccccc;
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
    p {
        padding-bottom: 1rem;
        padding-right: 0.7rem;
    }
    a {
        background-color: #dd5555;
        border-radius: 5px;
        padding: 0.75rem;
        color: white;
        font-weight: 700;
        font-size: 1.1rem;
        display: inline-block;
    }
}
